

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.container{
    width: 84%;
    min-width: 514px;
    /* position: absolute; */
    transform: translate(-50%,-50%);
    top: 70%;
    left: 56%;
    margin: 339px 101px 164px 769px;
}
.wrapper{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: -6px 34px;
    /* border: 1px solid black; */
    border-radius: 5px;
    border-collapse: collapse;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
   
}
.toggle,
.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
    padding: -1px 0;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 1.4rem;
    font-weight: 400;
    color: #3B3B3B;
    line-height: 2rem;
    letter-spacing: 0px;
    background: #fff;
    color: #222;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; */ 
}
.content{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}


.inside{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
element.style {
    color: rgb(255 255 255);
}
#middle{
    
    text-align: left;
    margin-left: 92px;
}


